a{
    text-decoration: none;
    color: #333;
}
.commendImg{
	width: 100%;
    height: 330px;
    /*margin: 16px auto;*/
    background: #fff;
    overflow: hidden;
}
.commend-title{
	font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commend-title .title{
	margin: 0 20px;
}
.commend-title .line{
	width: 40px;
    height: 0px;
    display: inline-block;
    border: 1px solid #dcdcdc;
}
.commend-main{
	margin: 20px 13px;
    display: flex;
    justify-content: space-around;
}
.commend-list{
	border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5px; 
}
.commend-list img{
	width: 175px;
    height: 175px;
    background-size: cover;
}
.commend-list .desc{
    font-size: 16px;
    padding: 0 5px;
}
.commend-list .rate{
	color: #999;
    display: inline-block;
    padding: 0 5px;
}
.commend-list .percent{
	font-size: 14px;
}
.commend-list .join-btn{
    display: inline-block;
    width: 50px;
    height: 30px;
    background: #ff6815;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}